body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: lightgrey;

    .pathfinder-grid {

        background-color: white;

        .row,
        .col {
            box-sizing: border-box;
            padding: 0px;
            margin: 0px;
            border: 1px solid lightgrey;
        }

        .active {
            background-color: purple;
        }

        .inactive {
            background-color: darkslateblue;
        }

        .wall {
            background-color: grey;
        }

    }

}